<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>
                <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Poppins:wght@600&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
       <div class="App">
         <img id="logo" src="{{ url_for('static', filename='logo.jpg') }}" alt="VocalLytics Logo">
            <p id="AppName1">Voice</p><p id="AppName2">Lytics</p>
            <p id="tag">Become a Pro in Communication!</p>
        </div>

    </br>
        <div class="container">
          <div align="center" class="border">

             <div class="header">
                <h2 class="word">Register</h2>
             </div></br></br></br>
            <h3 class="word">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <div class="input-group">
                            <label for="username" class="input-label">Enter Your Username</label>
                            <input id="username" name="username" type="text" class="textbox"/>
                        </div>
                        </br>
                    <div class="input-group">
                            <label for="password" class="input-label">Enter Your Password</label>
                            <input id="password" name="password" type="password" class="textbox"/>
                        </div>
                        </br>
                    <div class="input-group">
                            <label for="email" class="input-label">Enter Your Email</label>
                            <input id="email" name="email" type="text" class="textbox"/>
                        </div>
                        </br>

                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
            </h3>
            <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
          </div>

        </div>
    </body>
</html>